<div class="column is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile">
    <div class="p-1">
        <div class="columns is-variable is-desktop">
            <div class="column">
                <h1 class="title" style="margin-top: 80px"> Category Form </h1>
            </div>
        </div>

        <!-- Center the table content -->
        <div class="columns is-desktop">
            <div class="column is-centered">
                <form [formGroup]="categoryForm" (ngSubmit)="save()">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input formControlName="name" class="input is-success" type="text" placeholder="Text input" value="bulma">
                            <span class="icon is-small is-left">
                                <i class="fas fa-list"></i>
                            </span>
                            <div *ngIf="
                    categoryForm.get('name')?.invalid &&
                    categoryForm.get('name')?.touched
                  " class="text-danger" style="color: red;">
                                Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Submit</button>
                        </div>
                        <div class="control">
                            <button (click) ="backToUser()" class="button is-link is-light">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>