    <!-- navbar -->
    <nav class="navbar is-fixed-top box-shadow-y">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger toggler" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

            <a href="#" class="navbar-item has-text-weight-bold has-text-black">
                Admin Dashboard
            </a>
            <a role="button" class="navbar-burger nav-toggler" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu has-background-white">
            <div class="navbar-start">
                <a href="#" class="navbar-item">
                    <i class="fas fa-home icon"></i>
                    <p style="margin-left: 5px">Home</p>
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" class="navbar-link"> Admin </a>
                    <div class="navbar-dropdown is-right">
                        <a href="#" class="navbar-item has-text-danger">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <div class="columns is-variable is-0">
        <div>
            <div class="menu-container px-1">
                <div class="menu-wrapper">
                    <aside class="menu">
                        <p class="menu-label">Features</p>
                        <ul class="menu-list">
                            <li>
                                <a [routerLink]="['/','dashboard','home']"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                            </li>
                            <li>
                                <a [routerLink]="['/','dashboard','user']"><i class="fas fa-users"></i> Users</a>
                            </li>
                            <li>
                                <a [routerLink]="['/','dashboard','category']"><i class="fas fa-list"></i> Category</a>
                            </li>
                            <li>
                                <a [routerLink]="['/','dashboard','product']"><i class="fas fa-box"></i> Product</a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>

<router-outlet> </router-outlet>