<nav class="navbar is-success" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <h1 class="has-text-white">
        ForTest
      </h1>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons is-success">
        <a [routerLink]="['/','dashboard','home']" class="button is-light">
          <strong>Get Started</strong>
        </a>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-medium">
  <div class="hero-body">
    <div class="columns is-vcentered">  
      <div class="column">
        <h1 class="title"> Welcome to our E-commerce <br> Web Application</h1>
        <h2 style="margin-top: 5px;" class="subtitle">A simple web dashboard RESTful  API <br> using Angular and Java spring.</h2>
        <a [routerLink]="['/','dashboard','home']" class="button is-success">Go to Dashboard <i class="fad fa-chevron-right"></i></a>
      </div>
      <div class="column">
        <img style="margin-left: 200px;" src="../assets/foto.jpg" alt="foto banner" width="60%">
      </div>
    </div>
  </div>
</section>
