<div class="column is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile">
    <div class="p-1">
        <div class="columns is-variable is-desktop ">
            <div class="column">
                <h1 class="title" style="margin-top: 80px;">
                    User Information
                </h1>
            </div>
        </div>

        <!-- Center the table content -->
        <div class="columns is-desktop">
            <div class="column is-centered">
                <div>
                    <button class="button is-primary">
                        <span class="icon">
                            <i class="fas fa-user-plus"> </i>
                        </span>
                    </button>
                </div>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No.</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>arim</td>
                            <td>arim@gmail.com</td>
                            <td>0812</td>
                            <td>
                                <div class="buttons">
                                    <button class="button is-small is-info">
                                        <span class="icon">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                        <span>Details</span>
                                    </button>
                                    <button class="button is-small is-warning">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                        <span>Edit</span>
                                    </button>
                                    <button class="button is-small is-danger">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                        <span>Delete</span>
                                    </button>
                                </div>

                            </td>
                        </tr>

                        <!-- Add more table rows as needed -->

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>